In [ ]:
mark = int(input("Enter mark: "))

if mark > 90 : 
  print("Grade is A")

elif mark > 80 : 
  print("Grade is B")

elif mark > 70 :
  print("Grade is C")
elif mark > 50 : 
  print("Grade is D")  
else :
  print("Failed!")

In [ ]:
username = 'vyshnav'
password = '1234'
otp = '0912'
name=input("Enter username: ")
userpassword = input("Enter the password: ")
userOtp=input("Enter one time password: ")
if name == username :
  if userpassword == password : 
    if userOtp == otp : 
      print("Welcome", username)
    else  :
      print("incorrect otp")  
  else :
    print("Incorrect password")    
else :
  print("This user is not in our database")

In [ ]:
studentMarks = {
    "ravi" : 95,
    "raju" : 43,
    "jane" : 78,
    "pooja" : 57,
    "rahu" : 83
}
for marks in studentMarks :
  if studentMarks[marks] < 60 : 
    print(studentMarks[marks])

43
57